<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>top</title>
<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/top.css" rel="stylesheet" />
<link href="../css/public.css" rel="stylesheet" />
<script src="../js/jquery-2.1.4.js"></script>

</head>

<body style="overflow: hidden; overflow-x:auto;">
<div class="content clear">
	<!--<div class="left">
        <a href="#" class="logo">
            <img src="../imgs/logo.jpg" alt="logo" />
            <div class="logo-text">
                <h2>链景旅行-</h2>
                <p>景区管理平台</p>
            </div>
        </a>
    </div>-->
    
    <ul class="right">
    	<li class="user-info">
    		<div style="overflow: hidden;">
    			<a href="#">退出</a>
    			<b class="line"></b>
    			<p><span>账号</span>：<span>18622819257</span></p>
    		</div>
    	</li>
        <li class="time">
        	<p>
            	<span id="date" class="date">2016-01-29</span>
            	<span id="day" class="day">星期二</span>
            </p>
            <p>
            	<span id="hour">19:30:30</span>
            </p>
        </li>
    </ul>
</div>
<script src="../js/getTime.js"></script>
<script src="../js/page.js"></script>
</body>
</html>
