<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiersun.service.mapper.SequenceNumberMapper">
  <resultMap id="BaseResultMap" type="com.hiersun.entity.SequenceNumber">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num_type" jdbcType="VARCHAR" property="numType" />
    <result column="timecondition" jdbcType="VARCHAR" property="timecondition" />
    <result column="val" jdbcType="INTEGER" property="val" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>