<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiersun.service.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.hiersun.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="department_id" jdbcType="CHAR" property="departmentId" />
    <result column="position_id" jdbcType="CHAR" property="positionId" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="identity_card_num" jdbcType="VARCHAR" property="identityCardNum" />
    <result column="join_date" jdbcType="TIMESTAMP" property="joinDate" />
    <result column="leave_date" jdbcType="TIMESTAMP" property="leaveDate" />
    <result column="work_number" jdbcType="VARCHAR" property="workNumber" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="input_date" jdbcType="TIMESTAMP" property="inputDate" />
  </resultMap>
</mapper>